@model IList<Tournament>

@{
    ViewBag.Title = "Tournament";
    Layout = "_Layout";
}


<div class="col-md-12">
    <h2 class="text my-4">Tournaments</h2>
    <div class="nav-align-top mb-4">
        <div class="col-md-12 col-lg-6">
            <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
                <li class="nav-item">
                    <button
                        type="button"
                        class="nav-link active"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-pills-justified-home"
                        aria-controls="navs-pills-justified-home"
                        aria-selected="true">
                        <i class='bx bx-border-all'></i> All
                    </button>
                </li>
                <li class="nav-item">
                    <button
                        type="button"
                        class="nav-link"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-pills-justified-profile"
                        aria-controls="navs-pills-justified-profile"
                        aria-selected="false">
                        <i class='bx bx-cloud-snow'></i> Live
                        <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-danger">3</span>
                    </button>
                </li>
                <li class="nav-item">
                    <button
                        type="button"
                        class="nav-link"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-pills-justified-messages"
                        aria-controls="navs-pills-justified-messages"
                        aria-selected="false">
                        <i class='bx bx-history'></i> Recent
                    </button>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="navs-pills-justified-home" role="tabpanel">
                <div class="card">
                    <h2 class="card-header">Trending Matches...</h2>
                    <div class="table-responsive text-nowrap">
                        <table class="table table-hover">
                            <thead>
                            <tr class="text-center">
                                <th>Name</th>
                                <th>Game</th>
                                <th>Start Time</th>
                                <th>Prize Pool</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">

                            @foreach (var tournament in Model!)
                            {
                                <tr>
                                    <td>
                                        <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@tournament.Name</strong>
                                    </td>
                                    <td>
                                        <a asp-area="Player" asp-controller="Game" asp-action="Details" asp-route-id="@tournament.GameId">
                                            <img class="me-2" style="height: 20px;width: 20px; border-radius: 50%" src="@tournament.Game!.ImageUrl" alt=""/>@tournament.Game!.Name
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        @tournament.StartTime.ToString("dd MMMM yyyy")
                                    </td>
                                    <td class="text-center">
                                        @tournament.PrizePool
                                    </td>
                                    <td class="text-center">
                                        <span class="badge bg-label-primary me-1">Active</span>
                                    </td>
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="javascript:void(0);">
                                                    <i class="bx bx-tv me-1"></i> Watch
                                                </a>
                                                <a class="dropdown-item" href="javascript:void(0);">
                                                    <i class="bx bx-log-in-circle me-1"></i> Register
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="navs-pills-justified-profile" role="tabpanel">
                <p>
                    Donut dragée jelly pie halvah. Danish gingerbread bonbon cookie wafer candy oat cake ice
                    cream. Gummies halvah tootsie roll muffin biscuit icing dessert gingerbread. Pastry ice cream
                    cheesecake fruitcake.
                </p>
                <p class="mb-0">
                    Jelly-o jelly beans icing pastry cake cake lemon drops. Muffin muffin pie tiramisu halvah
                    cotton candy liquorice caramels.
                </p>
            </div>
            <div class="tab-pane fade" id="navs-pills-justified-messages" role="tabpanel">
                <p>
                    Oat cake chupa chups dragée donut toffee. Sweet cotton candy jelly beans macaroon gummies
                    cupcake gummi bears cake chocolate.
                </p>
                <p class="mb-0">
                    Cake chocolate bar cotton candy apple pie tootsie roll ice cream apple pie brownie cake. Sweet
                    roll icing sesame snaps caramels danish toffee. Brownie biscuit dessert dessert. Pudding jelly
                    jelly-o tart brownie jelly.
                </p>
            </div>
        </div>
    </div>
</div>