@using eSports.entities.ViewModels
@model HomeVm

@{
    ViewData["Title"] = "Dashboard";
}


<div class="mx-5">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-1 p-2">
                <div class="p-2">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Game</th>
                            <th>Start Time</th>
                            <th>Prize Pool</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var tournament in Model.Tournaments!)
                        {
                            <tr>
                                <td>@tournament.Name</td>
                                <td>@tournament.Game!.Name</td>
                                <td>@tournament.StartTime</td>
                                <td>@tournament.PrizePool</td>
                                <td>
                                    <div>
                                        <a asp-area="Admin" asp-controller="Tournaments" asp-action="Details" asp-route-id="@tournament.Id">Details</a>
                                    </div>
                                </td>
                                
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-3">
                <div class="ps-3">
                    <div class="mt-3 mb-3">Games</div>
                    @foreach (var game in Model.Games!)
                    {
                        <div>
                            <a asp-area="Admin" asp-controller="Games" asp-action="Details" asp-route-id="@game.Id">@game.Name</a>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>

</div>