@using eSports.entities.ViewModels
@model HomeVm

@{
    ViewData["Title"] = "Dashboard";
    var imageNumber = 0;
    var imageCount = Model.Games!.Count();
}

<div class="container-fluid px-0" style="width: 100%">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            @for (var idx = 0; idx < imageCount; idx++)
            {
                var idxClass = idx == 0 ? "active" : "";
                var ariaCurrent = idx == 0 ? "true" : "";
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@idx" class="@idxClass" aria-current="@ariaCurrent" aria-label="Slide @idx"></button>
            }
        </div>
        <div class="carousel-inner" role="listbox" style="height: 500px;">

            @foreach (var game in Model.Games!)
            {
                imageNumber++;
                var activeImage = imageNumber == 1 ? "active" : "";

                <div class="carousel-item @activeImage">
                    <img src="@game.ImageUrl" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>@game.Name</h3>
                        <p>@game.Description</p>
                    </div>
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>


<!-- Divider Colors -->
<div class="col-md-12 ">
    <div class="card">
        <div class="card-body">
            <div class="divider divider-success">
                <div class="divider-text" style="font-size: 1.8rem">Upcoming Tournament</div>
            </div>
        </div>
    </div>
</div>
<!-- /Divider Colors -->


<div class="row mb-5">
    @for (int i = 0; i < 3; i++)
    {
        <div class="col-md-6 col-xl-4">
            <div class="card bg-dark border-0 text-white">
                <img class="card-img" src="~/theme/sneat/assets/img/elements/11.jpg" alt="Card image"/>
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to additional content. This
                        content is a little bit longer.
                    </p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
        </div>
    }

</div>




<div class="card">
    <h2 class="card-header">Trending Matches...</h2>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
            <tr class="text-center">
                <th>Name</th>
                <th>Game</th>
                <th>Start Time</th>
                <th>Prize Pool</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody class="table-border-bottom-0">

            @foreach (var tournament in Model.Tournaments!)
            {
                <tr>
                    <td>
                        <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@tournament.Name</strong>
                    </td>
                    <td><a  asp-area="Player" asp-controller="Game" asp-action="Details" asp-route-id="@tournament.GameId">
                        <img class="me-2" style="height: 20px;width: 20px; border-radius: 50%" src="@tournament.Game!.ImageUrl" alt=""/>@tournament.Game!.Name</a></td>
                    <td class="text-center">
                        @tournament.StartTime.ToString("dd MMMM yyyy")
                    </td>
                    <td class="text-center">
                        @tournament.PrizePool
                    </td>
                    <td class="text-center">
                        <span class="badge bg-label-primary me-1">Active</span>
                    </td>
                    <td class="text-center">
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0);">
                                    <i class="bx bx-tv me-1"></i> Watch
                                </a>
                                <a class="dropdown-item" href="javascript:void(0);">
                                    <i class="bx bx-log-in-circle me-1"></i> Register
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            }

            </tbody>
        </table>
    </div>
</div>