@using eSports.entities.ViewModels
@model HomeVm

@{
    ViewData["Title"] = "Dashboard";
    var imageNumber = 0;
    var imageCount = Model.Games!.Count();
}

<div class="container-fluid" style="width: 100%">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            @for (var idx = 0; idx < imageCount; idx++)
            {
                var idxClass = idx == 0 ? "active" : "";
                var ariaCurrent = idx == 0 ? "true" : "";
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@idx" class="@idxClass" aria-current="@ariaCurrent"  aria-label="Slide @idx"></button>
            }
        </div>
      <div class="carousel-inner" role="listbox"  style="height: 500px;">
        
        @foreach (var game in Model.Games!)
        {
            imageNumber++;
            var activeImage = imageNumber == 1 ? "active" : "";
            
            <div class="carousel-item @activeImage">
                <img src="@game.ImageUrl" class="d-block w-100" alt="..." style="height: 500px;">
                <div class="carousel-caption d-none d-md-block">
                    <h3>@game.Name</h3>
                    <p>@game.Description</p>
                </div>
            </div>
        }
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

</div>

<div class="mx-5">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-1 p-2">
                <div class="p-2">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Game</th>
                            <th>Start Time</th>
                            <th>Prize Pool</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var tournament in Model.Tournaments!)
                        {
                            <tr>
                                <td>@tournament.Name</td>
                                <td>@tournament.Game!.Name</td>
                                <td>@tournament.StartTime</td>
                                <td>@tournament.PrizePool</td>
                                <td>
                                    <div>
                                        <a class="text-decoration-none" asp-area="Admin" asp-controller="Tournaments" asp-action="Details" asp-route-id="@tournament.Id">Details</a>
                                    </div>
                                </td>
                                
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-3">
                <div class="ps-3">
                    <div class="mt-3 mb-3">Games</div>
                    @foreach (var game in Model.Games!)
                    {
                        <div>
                            <a class="text-decoration-none" asp-area="Admin" asp-controller="Games" asp-action="Details" asp-route-id="@game.Id">@game.Name</a>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>

</div>